.TextDisplay {
  padding: 2rem;
  background-color: #fffa;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem #6666;
  transition: all 100ms ease-out;

  &:hover {
    background-color: #ffff;
    box-shadow: 0 0.2rem 0.5rem #6666;
  }
}

p {
  white-space: pre-line;
}

.is-blurred {
  filter: blur(5px);
}
